li{
    list-style-type: none;
    background-color: #3d5a80;
    color: white;
    font-size: 110%;
    margin: 5px;
    height: 50px;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-radius:15px;
}
.list-group-item-label{
    width: 50%;
}
button {
    border: none;
    cursor: pointer;
    color:#bb2d3b;
}
input {
    cursor: pointer;
}