.app__header {
    display: flex;
    justify-content: space-between;
}
.app__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
}
.app__title > span {
    color: #3d5a80;
}
.app__menu > ul {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 24px;
}
.app__menu > ul > li {
    margin: 0 8px;
    width: inherit;
    background-color: white;
    color: #3d5a80;
    cursor: pointer;
}
.containerExitBtn{
    display: flex;
    justify-content: end;
}